/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
.app {
	padding-top: 44px;
  font-family: "Helvetica Neue", Helvetica, STHeiTi, sans-serif;
  font-size: 15px;
}
.app_header {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
  z-index: 10;
  height: 44px;
  background: #221e5f url(./logo.svg) no-repeat center center;
}
.app_header h1 {
  font-size: 0;
}
.app_footer {
  padding: 10px;
  color: #ccc;
  font-size: 0.8em;
  text-align: center;
}
.news-slider {
  height: 150px;
}
.news-slide {
  display: block;
  height: 150px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.news-list ul {
  padding-left: 10px;
  border-top: 1px solid #eee;
  border-bottom: 1px solid #eee;
}
.news-list li {
  padding: 10px 0;
  padding-right: 10px;
  border-top: 1px solid #eee;
}
.news-list li:first-child {
  border-top: none;
}
.news {
  display: flex;
}
.news>span {
  margin-right: 10px;
  width: 80px;
  height: 60px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  flex-shrink: 0;
}
.news>div {
  flex-grow: 1;
  overflow: hidden;
}
.news h2 {
	color: #333;
	font-size: 0.9em;
  line-height: 1.2em;
}
.news p {
  margin-top: 6px;
  width: 100%;
  color: #999;
  font-size: 0.8em;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
